.adiv2 {
    margin-top: 10vh;
}

.adiv3 {
    margin-top: 5vh;
}

.toptext1 {
    color:#0095eb;
    font-weight: bolder;
    font-family: viga-regular;
    font-size: 6vh;

}

.btmtext1 {
    color: #ffffff;
    letter-spacing: .2vw;
    font-weight: bold;
}