li {
    display: inline;
    margin: 100px;
}

.div1 {
    display: flex;
    color: white;
    justify-content: center;
    height: 80px;
    display: block;

}

.nav {
    color: white;
    text-decoration: none;
    display: inline;
    justify-content: end;
}

ul {
    display: inline;
}
