.call {
    color: #009318;
    font-family: Viga-Regular;
    font-size: 3.2vh;
    font-weight: 600;
}

.container2 {
    padding: 2%;
    padding-bottom: 8vh;
    background-image: url("https://scopeindia.org/images/si-call-back-bg.jpg");
    width: 55%;
    height: 100%;
}

.callme {
    background-color: #3ec93e;
    color: white;
    font-weight: 900;
    width: 92%;
}

.form1 {
    width: 92%
}

.frmh2 {
    font-weight: 600;
    color:#000c81;
    font-family: Viga-Regular;
    margin-bottom: 7%;
    font-size: x-large;
}

.frmp {
    color: #050a4c;
    text-align: justify;
}
.imgfrm {
    width: 100%;
    height: auto;

}
@media only screen and (max-width: 768px) {
    .frmh2{
        font-weight: 500;
        font-size:x-large;
    }
    .frmp{
        text-align: justify;
        font-size: medium;
    }
    .call{
        font-size:x-large;
    }
    .container2{
        width: 80%;
        overflow-x: hidden;
    }

}
