.bg{
    background-color: #071e60;
    background-image: url(images/Contactbg.jpg);
    background-size: 215vw;
    background-repeat: no-repeat;
    background-position: center top;
}
h1{
    color: #fbba02;
    font-weight: 500;
    font-family: Viga-Regular;
    text-align: center;
    font-size: 6vh;
    padding-top: 21vh;

}
.dis{
    color: #ffffff;
    font-family: Viga-Regular;
    text-align: center;
    font-size: vh;
    padding-bottom: 1vh;
}
.star{
   
    width: 25%;
    height:auto;
    margin-left: 20vw;
    }
.para1{
    text-align: justify;
    color: #ffffff;
    padding-bottom: 4vh;
}
.container{
    width:55.2vw
}
.aboutlast{
    display: flex;
    justify-content: space-around;
    text-align: center;

}
.adiv{
margin-top: 29vh;
}
.adiv1{
    margin-top: 24vh;
}
.toptext{
    color: rgb(97, 255, 6);
    font-weight: bolder;
    font-size:6vh;

}
.btmtext{
color: #ffffff;
letter-spacing: .2vw;
font-weight: bold;
}