.bg{
    background-color: #071e60;
    background-image: url(Contactbg.jpg);
    background-position: center;
    padding-top: 20vh;
    background-size: 250vw;
    background-repeat: no-repeat;
}
h1{
    color: #fbba02;
    font-weight: 500;
    font-family: Viga-Regular;
    text-align: center;
    font-size: 6vh;
    padding-bottom:1vh ;
}
.dis{
    color: #ffffff;
    font-family: Viga-Regular;
    text-align: center;
    font-size: 3.5vh;
}
.star{
   
    width: 17%;
    height:auto;
    margin-left: 42vw;
    padding-bottom: 5vh;
    }
.para1{
    text-align: center;
    color: #ffffff;
}
.imgfrm{
    width: 100%;
    height:100%;
 
}
.call{
color:#009318 ;
font-family:Viga-Regular ;
font-size: 3.2vh;
font-weight: 600;
}

