.card-link {
    text-decoration: none;
    display: block;
    color: white;
    margin-left: 1vw;
    margin-bottom: 1vh;
}

.card-link:hover {
    text-decoration: underline;
    color: white;
}

.card-title {
    font-family: Viga-Regular;
    font-weight: 900;
    font-size: 26px;
    margin-bottom: 1vh;
}

.list {
    margin-right: 1vw;
}

.location {
    color: #ffffff;
    font-family: Viga-Regular;
    font-size: 4vh;
    margin-top: 7vh;
    margin-bottom: vh;
}

@media only screen and (max-width: 768px) {
    .card {
        margin-bottom: 5vh;
        text-align: center;
    }
    .row{
     
    }

    .location {
        text-align: center;
        font-size: xx-large;
    }
}
*{
    overflow: visible;
}