.backhome{
    background-image: url(images/Scopebackground.jpg);
    background-repeat: no-repeat;
    background-position:center top;
    background-size: 256vw;
    
}
.scopeimg{
   margin-left: 28%;
   margin-top: 12%;
   margin-bottom: 20%;
   
}